@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root {
/* ### Primary */
--Blue: hsl(246, 80%, 60%);
--Light-red-work: hsl(15, 100%, 70%);
--Soft-blue-play: hsl(195, 74%, 62%);
--Light-red-study: hsl(348, 100%, 68%);
--Lime-green-exercise: hsl(145, 58%, 55%);
--Violet-social: hsl(264, 64%, 52%);
--Soft-orange-self-care: hsl(43, 84%, 65%);

/* ### Neutral */
--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);
}
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 375px;
    height: 100%;
    font-size: 18px;
    font-family: "Rubik";
    font-weight: 300;
}
.active {
    border: solid 1px red;
    color: white;
}
.wrapper {
    background-color: var(--Very-dark-blue);
}
.admindiv {
    overflow: hidden;
    color: var(--Pale-Blue);
    display: flex;
    flex-direction: column;
    padding: 5rem 0 1rem 0;
    margin: 0 1.5rem 0.5rem 1.5rem;

}
.userinfo {
    background-color: var(--Blue);
    padding: 2.5rem 2rem 2rem 2rem;
    border-radius: 15px;
    box-shadow: 0 20px 0 0 var(--Dark-blue);
    display: flex;
}
.userinfo img {
    max-width: 25%;
    border-radius: 50%;
    box-shadow: 0 0 0 3px white;
}
.userinfo span {
    line-height: 1.5;
}
.userinfo span a{
    color: white;
    font-size: 22px;
}
.timescales{
    width: 100%;
    padding: 1.5rem;
    background-color: var(--Dark-blue);
    display: flex;
    border-radius: 15px;
}
.timescales button{
    font: inherit;
    color: var(--Desaturated-blue);
    background-color: transparent;
    border: none;
}
.categories {
    padding: 0 0 0.5rem 0;
}
.category {
    overflow: hidden;
    color: var(--Pale-Blue);
    padding: 2.5rem 0 0 0;
    margin: 0 1.5rem 0 1.5rem;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.labelImg {
    width: 27%;
    position: absolute;
    top: -0.5rem;
    right: 1rem;
}
.label {
    background-color: var(--Dark-blue);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
    border-radius: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.label button{
    border: none;
    background-color: transparent;
    position: relative;
    right: -3.75rem;

}
.categoryName, .time, .label button, .previously{
    width: 100%;
}
.dotsImg, .previously {
    text-align: right;
    color: var(--Pale-Blue);
    font-size: 16px;
}
.categoryName {
    color: white;
    font-weight: 500;
    text-align: left;
}
.time {
    font-size: 34px;
    color: white;
}
.work{
    background-color: var(--Light-red-work);
    box-shadow: 0 25px 0 0 var(--Light-red-work);
}
.play{
    background-color: var(--Soft-blue-play);
    box-shadow: 0 25px 0 0 var(--Soft-blue-play);
}
.study{
    background-color: var(--Light-red-study);
    box-shadow: 0 25px 0 0 var(--Light-red-study);
}
.exercise{
    background-color: var(--Lime-green-exercise);
    box-shadow: 0 25px 0 0 var(--Lime-green-exercise);
}
.social{
    background-color: var(--Violet-social);
    box-shadow: 0 25px 0 0 var(--Violet-social);
}
.self-care{
    background-color: var(--Soft-orange-self-care);
    box-shadow: 0 25px 0 0 var(--Soft-orange-self-care);
}

button:hover{
    color: white;
    cursor: pointer;
    filter: brightness(200%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (min-width: 1040px) {
    body {
        min-width: 1440px;
    }   

    .categories {
        padding: 10rem 0 10rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
    .admindiv {
        height: 100%;
        padding: 0 0 1.5rem 1.5rem;
        margin: 0;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .userinfo {
        height: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: left;
        width: 80%;
    }
    .timescales {
        height: 30%;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .timescales button{
        position: relative;
        width: 100%;
        text-align: left;
        padding: 0 0 0.5rem 0;
    }
    .slot{
        height: 100%;
        width: 100%;
    }
    .userinfo img {
        max-width: 40%;
    }
}